.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 60px auto 0;
    gap: var(--mantine-spacing-xl);
}

.title {
    color: rgb(48, 227, 155);
}

.child {
    width: 250px;

    @media (min-width: $mantine-breakpoint-lg) {
        width: 400px;
    }
}