/* .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: var(--mantine-spacing-xl);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-lg);
} */

.container {
    display: flex;
    width: 100%;
    margin-top: var(--mantine-spacing-xl);
    padding: var(--mantine-spacing-xl);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: var(--mantine-spacing-xl);
    padding: var(--mantine-spacing-xl);
    gap: var(--mantine-spacing-xl);
}

.button {
  margin-top: var(--mantine-spacing-lg);
}

.labelBox {
  display: flex;
  flex-direction: column;
}

.inputs{
  width: 30%;
}
